.form-box {
  padding: 50px 40px;
  background: #FFFFFF;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
  border-radius: 26px;

  h1 {
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    color: #35353D;
    text-align: center;
    margin: 0 0 30px;
  }
}
